# Exoplanet Habitability Classifier
### Kaydon Skinner

### Goal: Derive potentially habitable planets
### The data used for this analysis was produced by the NASA Exoplanet Archive  http://exoplanetarchive.ipac.caltech.edu

In [19]:
# libraries
import pandas as pd

In [22]:
# data
df = pd.read_csv("planets.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38779 entries, 0 to 38778
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          38779 non-null  object
 1   hostname         38779 non-null  object
 2   default_flag     38779 non-null  int64
 3   sy_snum          38779 non-null  int64
 4   sy_pnum          38779 non-null  int64
 5   discoverymethod  38779 non-null  object
 6   disc_year        38779 non-null  int64
 7   disc_facility    38779 non-null  object
 8   soltype          38779 non-null  object
 9   pl_controv_flag  38779 non-null  int64
 10  pl_refname       38779 non-null  object
 11  pl_orbper        35545 non-null  float64
 12  pl_orbpererr1    33893 non-null  float64
 13  pl_orbpererr2    33892 non-null  float64
 14  pl_orbperlim     35545 non-null  float64
 15  pl_orbsmax       21779 non-null  float64
 16  pl_orbsmaxerr1   7310 non-null   float64
 17  pl_orbsmaxerr2   7309 non-null   float64
 18  pl_orbsmaxlim    24566 non-null  float64
 19  pl_rade          26789 non-null  float64
 20  pl_radeerr1      26060 non-null  float64
 21  pl_radeerr2      26060 non-null  float64
 22  pl_radelim       29535 non-null  float64
 23  pl_radj          26789 non-null  float64
 24  pl_radjerr1      26060 non-null  float64
 25  pl_radjerr2      26060 non-null  float64
 26  pl_radjlim       26789 non-null  float64
 27  pl_bmasse        6768 non-null   float64
 28  pl_bmasseerr1    6149 non-null   float64
 29  pl_bmasseerr2    6149 non-null   float64
 30  pl_bmasselim     6768 non-null   float64
 31  pl_bmassj        6767 non-null   float64
 32  pl_bmassjerr1    6143 non-null   float64
 33  pl_bmassjerr2    6143 non-null   float64
 34  pl_bmassjlim     6767 non-null   float64
 35  pl_bmassprov     6768 non-null   object
 36  pl_orbeccen      18576 non-null  float64
 37  pl_orbeccenerr1  3612 non-null   float64
 38  pl_orbeccenerr2  3611 non-null   float64
 39  pl_orbeccenlim   21320 non-null  float64
 40  pl_insol         16939 non-null  float64
 41  pl_insolerr1     15660 non-null  float64
 42  pl_insolerr2     15660 non-null  float64
 43  pl_insollim      21999 non-null  float64
 44  pl_eqt           16951 non-null  float64
 45  pl_eqterr1       2347 non-null   float64
 46  pl_eqterr2       2347 non-null   float64
 47  pl_eqtlim        19695 non-null  float64
 48  ttv_flag         38779 non-null  int64
 49  st_refname       38423 non-null  object
 50  st_spectype      2788 non-null   object
 51  st_teff          35435 non-null  float64
 52  st_tefferr1      34677 non-null  float64
 53  st_tefferr2      34417 non-null  float64
 54  st_tefflim       35435 non-null  float64
 55  st_rad           35674 non-null  float64
 56  st_raderr1       30135 non-null  float64
 57  st_raderr2       29982 non-null  float64
 58  st_radlim        35674 non-null  float64
 59  st_mass          32797 non-null  float64
 60  st_masserr1      27380 non-null  float64
 61  st_masserr2      27225 non-null  float64
 62  st_masslim       32804 non-null  float64
 63  st_met           24555 non-null  float64
 64  st_meterr1       23880 non-null  float64
 65  st_meterr2       23880 non-null  float64
 66  st_metlim        26867 non-null  float64
 67  st_metratio      24358 non-null  object
 68  st_logg          30160 non-null  float64
 69  st_loggerr1      24866 non-null  float64
 70  st_loggerr2      24865 non-null  float64
 71  st_logglim       30160 non-null  float64
 72  sy_refname       38779 non-null  object
 73  rastr            38779 non-null  object
 74  ra               38779 non-null  float64
 75  decstr           38779 non-null  object
 76  dec              38779 non-null  float64
 77  sy_dist          37936 non-null  float64
 78  sy_disterr1      37084 non-null  float64
 79  sy_disterr2      37084 non-null  float64
 80  sy_vmag          38011 non-null  float64
 81  sy_vmagerr1      37998 non-null  float64
 82  sy_vmagerr2      37997 non-null  float64
 83  sy_kmag          38001 non-null  float64
 84  sy_kmagerr1      37760 non-null  float64
 85  sy_kmagerr2      37760 non-null  float64
 86  sy_gaiamag       37712 non-null  float64
 87  sy_gaiamagerr1   37712 non-null  float64
 88  sy_gaiamagerr2   37712 non-null  float64
 89  rowupdate        38778 non-null  object
 90  pl_pubdate       38779 non-null  object
 91  releasedate      38779 non-null  object
dtypes: float64(70), int64(6), object(16)
memory usage: 27.2+ MB

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2023-09-19,2023-08,2023-09-19
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-07-23,2011-08,2014-07-23
2,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-05-14,2008-01,2014-05-14
3,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2011-08,2014-07-23
4,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2009-10,2014-05-14

#### For the purposes of this analysis, a habitable planet is defined as ny planet that can: natively host liquid water on its surface, and contain energy and nutrients. 

### Important columns:
* pl_name
    * planet name - identify the planet that is habitable
* pl_rade 
    * radius of the planet - affects gravity, climate, and internal structure
* pl_insol
    * insolation flux - how intense is the solar radiation?
* pl_teff
    * stellar effective temperature - star temp. Will affect planet overall temperature
* pl_met
    * stellar metallicity - metal in the star. Metal in the star increases likelihood of rocky planets

In [ ]:
# adding new column of preliminary habitability requirements
habitable = (
    
)